body {
  background: linear-gradient(#0ed2f7, #b2fefa ) fixed;
}

div {
  margin: 120px 0;
  text-align: center;
}
p {
  font-family: Meiryo, "Hiragino Kaku Gothic Pro W3", Courier New, sans-serif;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #fff;
}
